## Working with Python Variables

Structure of creating a variable
[variable_name] [assignment operator] [value]
myVar = "blah"

### What are the data types in Python?
1. Strings - anything inside of " " or ' '
2. Booleans - true or false
3. Integers - whole numbers, even or odd
4. Floats - any number with a decimal

In [5]:
# Variable Reassignment

# A student's GPA throughout high school
student_gpa = 3.2 # Freshman year

student_gpa = 3.4 # Sophomore year

student_gpa = 3.7 # Junior year

student_gpa = 3.9 # Senior year
print(student_gpa) # Output would be 3.9

# If you need to store all data, you would need different variables
student_gpa_Fr = 3.2 # Freshman year

student_gpa_So = 3.4 # Sophomore year

student_gpa_Ju = 3.7 # Junior year

student_gpa_Se = 3.9 # Senior year

3.9

In [6]:
# Sports team statistics

# Basketball team variables
team_name = "Riverside Ravens"
wins = 18
losses = 7
points_scored = 1456
points_allowed = 1298
leading_scorer = "Jordan Thompson"
average_points_per_game = 58.2
championship_contender = True

print(championship_contender)

True

In [9]:
# The input function

#input("Enter your first name: ")

first_name = input("Enter your first name: ")

print(first_name)

Owen

## 4 Main Computational Processes
- Input 
- Processing
- Output
- Storage(Memory)

## Strings, Assignments, and Comments

**Data Types** - consists of a set of values and a set of operations that can be performed on those values

A **Literal** - is the way a value of a data type looks to a programmer

<table>
    <tr>
        <th>Type of Data</th>
        <th>Python Type Name</th>
        <th>Example Literals</th>
    </tr>
    <tr>
        <td>Integers</td>
        <td>int</td>
        <td>-1, 0, 1, 365, -1457324</td>
    </tr>
    <tr>
        <td>Real Numbers</td>
        <td>float</td>
        <td>-0.55, .3333, 3.14, 6.0, .5, 5.</td>
    </tr>
    <tr>
        <td>Character Strings</td>
        <td>str</td>
        <td>"Hello", "", " ", 'A' "675"</td>
    </tr>
</table>

In [1]:
hello = 'Hello there!'
myInt = 675
print('Hello there!') # Literal is: Hello there!
print(675) # Literal is: 675

Hello there!
675

<table>
    <tr>
        <th>Escape Sequences</th>
        <th>Meaning</th>
    </tr>
    <tr>
        <td>\b</td>
        <td>Backspace</td>
    </tr>
    <tr>
        <td>\n</td>
        <td>Newline</td>
    </tr>
    <tr>
        <td>\t</td>
        <td>Horizontal Tab</td>
    </tr>
    <tr>
        <td>\\</td>
        <td>The \ character</td>
    </tr>
    <tr>
        <td>\'</td>
        <td>Single quotation mark</td>
    </tr>
    <tr>
        <td>\"</td>
        <td>Double quotation mark</td>
    </tr>
</table>

## Initializing a Variable or Constant

**Initializing** - The process of creating a variable and setting it to a default value

## Formatting Text for Output
- This process is for presenting required output in tabular format.
- **Field Width** - The total number of data characters additional spaces for a given datum in a formatted string
- **%** - format operator 
- **%6s** - format string

In [2]:
for exponent in range(7, 11):
    print(exponent, 10 ** exponent)

7 10000000
8 100000000
9 1000000000
10 10000000000

In [5]:
print("four")
print("%6s" % "four") # Right Justify
print("%-6s" % "four") # Left Justify

four
  four
four

## Define Iteration

Repeating an action or process a predefined number of times. Also known as a specific type of iteration: **Definite Iteration**

Perform an action or process until the program determines that it needs to stop: **Indefinite Iteration**

#### Each of these iterations will use a different type of loop

Definite Iteration --> for loop
Indefinite Iteration --> while loop

In [2]:
### Execute a statement a given number of times

for eachPass in range(4): # Iterate through the contained code 4 times
    print("It's alive!", end = " ")
    # Each time through the loop, counting 0 - 3
    # print It's alive! followed by a blank space

It's alive! It's alive! It's alive! It's alive!

## The structure of a for loop

for (variable) in range(an integer expression):
    <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;repeat any number of statements

**loop header** - the line that starts with 'for'

**loop body** - comprises the statements in the remaining lines of code, below the header

## Python's exponation operator

In [8]:
# Exponent Example

number = 2
exponent = 3
product = 1

print("\nThe variable product is currently: ", product)

for eachPass in range(exponent):
    product = product * number
    print(product, end = " ")

print("\nThe variable product is now: ", product)

The variable product is currently:  1
2 4 8
The variable product is now:  8

## Count-controlled loops

**Count-controlled loops** - Loops that count through a range of numbers

In [9]:
for count in range(4):
    print(count, end=" ")

0 1 2 3

In [11]:
product = 1 # Initializing a counter

for count in range(4):
    product = product * (count + 1) # Corrects the off by 1 error
    print(product, end=" ")

print(product)

1 2 6 24 24

## Loop through a range of numbers:

In [14]:
product = 1
for count in range(1, 5): # (1, 5) - start on 1, 1 is the first number in the sequence, 5 is the first number NOT in the sequence
    product = product * count
    print(product, end=" ")

print("\n\n", product)

1 2 6 24

 24

### Loop head structure with lower and upper bounds
for (variable) in range (lower bound, upper bound + 1)

In [19]:
lower = int(input("Enter the lower bound: "))
upper = int(input("Enter the upper bound: "))

theSum = 0 # Notice we created theSum because sum is a Python keyword

for number in range(lower, upper + 1):
    theSum = theSum + number

print(theSum)

17

## Augmented Assignment

**Augmented Assignment** - when the assignment symbol can be conbined with the arithmetic and concatenation operators.

Structure:
(variable) (operator)= (expression)

In [24]:
a = 17
s = "hi"

a += 3 # equivalent to a = a + 3 
print(a)

a *= 3 # equivalent to a = a * 3
print(a)

a %= 3 # equivalent to a = a % 3
print(a)

20
60
0

In [54]:
s += " there!" # equivalent to s = s + " there"
print(s)

hi there! there! there! there! there! there! there! there! there! there! there! there! there! there! there! there! there! there! there! there! there! there! there! there! there! there! there!

## Loop Errors: Off-by-One Error

**Off-by-One Error** - These result when the programmer incorrectly specifies the upper bound for a loop.

In [47]:
# Count from 1 through 4, we think
for count in range (1, 5):
    print(count)

1
2
3
4

## Traversing the Contents of a Data Sequence

In [56]:
print(list(range(4)))
print(list(range(1,5)))

[0, 1, 2, 3]
[1, 2, 3, 4]

In [57]:
# Use something other than the range function in the loop head
for number in [6, 4, 8]:
    print(number, end=" ")

6 4 8

In [62]:
for character in "Hi, there!":
    print(character, end=" ")

H i ,   t h e r e !

## Specifying the Steps in the Range

Another variant of the Python range() function, allows us to enter 3 values as arguments.

range(val1, val2, val3)
val1 - The first value in the range, starting value

val2 - First value NOT in the range. (val2 - 1)

val3 - The Step Value - the interval between the numbers used in the range

In [3]:
print(list(range(1, 6, 1))) # [1, 2, 3, 4, 5]
print(list(range(1, 6, 2))) # [1, 3, 5]
print(list(range(1, 6, 3))) # [1, 4]

[1, 2, 3, 4, 5]
[1, 3, 5]
[1, 4]

In [4]:
# Let's suppose we want to compute a sum of the even numbers between 1 and 10.
theSum = 0
for count in range(2, 11, 2):
    theSum += count

print(theSum)

30

## Loops That Count Down

* Until now, we have been counting up based on what our range is.

In [5]:
for count in range(10, 0, -1):
    print(count, end=" ")

10 9 8 7 6 5 4 3 2 1

In [6]:
print(list(range(10, 0, -1)))

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

## Back to Formatting Text for Output

In [7]:
for exponent in range(7, 11):
    print(exponent, 10 ** exponent)

7 10000000
8 100000000
9 1000000000
10 10000000000

### Format String and Format Operator

In [8]:
# <format string> % <datum>

for exponent in range(7, 11):
    print("%-3d%12d" % (exponent, 10 ** exponent))
    # %-3d = first column in the data output - go -3 spaces back from where the first and second column meet - content will justify right
    # %12d = second column in the data output will be 12 characters wide(the field width), everything in the field will justify right

7      10000000
8     100000000
9    1000000000
10  10000000000

In [10]:
salary = 100.00
print("Your salary is $" + str(salary))
print("Your salary is $ %0.2f" % (salary))

Your salary is $100.0
Your salary is $ 100.00

In [11]:
print("%6.3f" % 3.14)
# 6 total digits, with 3 digits after the decimal

 3.140